API_BASE_URL=http://localhost:5222
API_BATTLE_ENDPOINT=/BattleCalculator/calculate-random-team
RAW_OUTPUT=data/raw/battles_raw.ndjson
STAGING_OUTPUT=data/staging/battles_transformed.ndjson
DUCKDB_PATH=data/duckdb/arena.duckdb

